{% load static %}
<div class="card card-primary card-outline">
    <div class="card-body box-profile">
        <div class="text-center">
            {% if user.DetailUser.foto_diri %}
            <img class="img-fluid" src="{{user.DetailUser.foto_diri.url}}" style="height: 250px;"
                onerror="this.src='{% static 'assets/Network-Profile.png'%}'">
            {% else %}
            <img class="img-fluid" src="{% static 'assets/Network-Profile.png'%}" style="height: 250px;">
            {% endif %}
        </div>

        <h3 class="profile-username text-center">{{user.get_full_name}}</h3>

        <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
                <b>NIS :</b> <a class="float-right">{{user.DetailUser.nis}}</a>
            </li>
            <li class="list-group-item">
                <b>Jenis Kelamin :</b> <a class="float-right">{{request.user.DetailUser.get_jenis_kelamin_display}}</a>
            </li>
            <li class="list-group-item">
                <b>Tanggal Lahir :</b> <a class="float-right">{{user.DetailUser.tanggal_lahir}}</a>
            </li>
            <li class="list-group-item">
                <b>Tempat Lahir :</b> <a class="float-right">{{user.DetailUser.tempat_lahir}}</a>
            </li>
            <li class="list-group-item">
                <b>Umur :</b> <a class="float-right">{{user.DetailUser.umur}}</a>
            </li>
            <li class="list-group-item">
                {{request.user.DetailUser.print_status.html | safe}}
            </li>
            <li class="list-group-item">
                <b>Jalur Pendaftaran :</b> <a class="float-right text-success">
                    {% if user.DetailUser.jalur_pendaftaran %}
                        {{user.DetailUser.jalur_pendaftaran}}
                    {% else %}
                        Jalur Pendaftaran Belum Dipilih
                    {% endif %}
                </a>
            </li>
        </ul>

        <!-- <a href="#" class="btn btn-success btn-block"><b>Edit Profile</b></a> -->
        {% with siswa=user.DetailUser %}
        {% if siswa.nilai_matematika and siswa.nilai_indonesia and siswa.nilai_inggris and siswa.nilai_ipa%}
        <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
                <p class="text-center" style="margin-bottom: -10px;"><b>Hasil Nilai UN</b></p>
            </li>
            <li class="list-group-item">
                <b>Matematika :</b>
                {% if siswa.nilai_matematika or siswa.DetailUser.nilai_matematika == 0 %}
                <a class="float-right"> {{siswa.nilai_matematika}}</a>
                {% else %}
                <a class="float-right">0</a>
                {% endif %}
            </li>
            <li class="list-group-item">
                <b>Bhs.Inggris :</b>
                {% if siswa.nilai_inggris or siswa.nilai_inggris == 0 %}
                <a class="float-right"> {{siswa.nilai_inggris}}</a>
                {% else %}
                <a class="float-right">0</a>
                {% endif %}
            </li>
            <li class="list-group-item">
                <b>Bhs.Indonesia :</b>
                {% if siswa.nilai_indonesia or siswa.nilai_indonesia == 0 %}
                <a class="float-right"> {{siswa.nilai_indonesia}}</a>
                {% else %}
                <a class="float-right">0</a>
                {%endif%}
            </li>
            <li class="list-group-item">
                <b>IPA :</b>
                {% if siswa.nilai_ipa or siswa.nilai_ipa == 0 %}
                <a class="float-right"> {{siswa.nilai_ipa}}</a>
                {% else %}
                <a class="float-right">0</a>
                {%endif%}
            </li>
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    <!-- /.card-body -->
</div>