{% load static %}
<div class="card card-primary card-outline">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-12 col-md-7 text-sm-center text-md-right">
                <span style="font-size: 30px;">Data Siswa</span>
            </div>
            <div class="col-sm-12 col-md-3 offset-md-2">
                <button class="btn btn-success float-right ml-2" id='btn_edit' type="button" value="edit"
                    onclick="editData(this.value)">Edit</button>
                <button class="btn btn-secondary float-right" id='btn_cancel' type="button" value="edit"
                    onclick="location.href='{% url 'siswa:tahapan_pendaftaran'%}'"
                    style="display: none;">Cancel</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form method="POST" action="{% url 'siswa:proses_pengajuan'%}" enctype="multipart/form-data" id="formSiswa">
            {% csrf_token%}
            <input type="hidden" name="decision" id="decision" value="pengajuan">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="first_name">Nama Depan</label>
                    <input type="text" class="form-control editabled" id="first_name" name="first_name"
                        placeholder="Nama Depan" value="{{user.first_name}}" required disabled>
                </div>
                <div class="form-group col-md-6">
                    <label for="last_name">Nama Belakang</label>
                    <input type="text" class="form-control editabled" id="last_name" name='last_name'
                        placeholder="Nama Belakang" value='{{user.last_name}}' required disabled>
                </div>
            </div>
            <div class="form-group">
                <label>Jenis Kelamin</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="jk" id="laki-laki" value="L" required
                        {% if request.user.DetailUser.jenis_kelamin == 'L'%}checked{%else%}disabled{%endif%}>
                    <label class="form-check-label" for="laki-laki">
                        Laki-Laki
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="jk" id="perempuan" value="P" required
                        {% if request.user.DetailUser.jenis_kelamin == 'P'%}checked{%else%}disabled{%endif%}>
                    <label class="form-check-label" for="perempuan">
                        Perempuan
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="datetimepicker5">Tanggal Lahir</label>
                        <input type="text" class="form-control editabled datetimepicker-input" id="datetimepicker5"
                            data-toggle="datetimepicker" data-target="#datetimepicker5" name="tanggal"
                            value="{{request.user.DetailUser.tanggal_lahir}}" required disabled />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="tempat_lahir">Tempat Lahir</label>
                        <input type="text" class="form-control editabled" id="tempat_lahir" name="tempat"
                            placeholder="Tempat Lahir" value="{{request.user.DetailUser.tempat_lahir}}" required
                            disabled />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="umur">Umur</label>
                        <input type="number" class="form-control editabled" id="umur" name="umur" placeholder="Umur"
                            required disabled value="{{request.user.DetailUser.umur}}" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label for="inputAddress">Alamat Lengkap</label>
                    <div class="form-check hidden ml-2" style="display: none;">
                        <input class="form-check-input" type="checkbox" value="edit_alamat" id="edit_alamat"
                            onchange="split_alamat(this.value)">
                        <label class="form-check-label" for="edit_alamat">
                            Ganti Alamat Lengkap
                        </label>
                    </div>
                </div>
                <textarea class="form-control alamat_lengkap" placeholder="Alamat Lengkap" name='alamat'
                    disabled>{{request.user.DetailUser.alamat}}</textarea>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3 alamat_lengkap" style="display: none;">
                    <label for="provinsi">Provinsi</label>
                    <select id="provinsi" class="form-control alamat_select" disabled>
                        <option selected disabled value>Silahkan Pilih</option>
                    </select>
                </div>
                <div class="form-group col-md-3 alamat_lengkap" style="display: none;">
                    <label for="kabupaten">Kabupaten/Kota</label>
                    <select id="kabupaten" class="form-control alamat_select" disabled>
                        <option selected disabled value>Silahkan Pilih</option>
                    </select>
                </div>
                <div class="form-group col-md-3 alamat_lengkap" style="display: none;">
                    <label for="kecamatan">Kecamatan</label>
                    <select id="kecamatan" class="form-control alamat_select" disabled>
                        <option selected disabled value>Silahkan Pilih</option>
                    </select>
                </div>
                <div class="form-group col-md-3 alamat_lengkap" style="display: none;">
                    <label for="desa">Desa/Kelurahan</label>
                    <select id="desa" name="desa" class="form-control alamat_select" disabled>
                        <option selected disabled value>Silahkan Pilih</option>
                    </select>
                </div>
            </div>
            <input type="hidden" id='prov' name="prov">
            <input type="hidden" id='kab' name="kab">
            <input type="hidden" id='kec' name="kec">
            <div class="form-row mt-2">
                <div class="col-12 text-center">
                    <h3 style="display: inline-block;"><b><u>Hasil Nilai UN</u></b></h3>
                    <a href="#">
                        <i class="fa fa-question-circle fa-sm" data-toggle="tooltip"
                            title="Gunakan titik '.' untuk memasukan nilai bernilai koma ','"
                            style="display: inline-block;position: absolute;"></i>
                    </a>
                </div>
                <div class="form-group col-md-3">
                    <label for="mtk">Matematika</label>
                    <input type="number" step="any" class="form-control editabled" name="mtk" id="mtk"
                        value="{{request.user.DetailUser.nilai_matematika}}" required disabled>
                </div>
                <div class="form-group col-md-3">
                    <label for="indo">Bhs.Indonesia</label>
                    <input type="number" step="any" class="form-control editabled" name="indo" id="indo"
                        value="{{request.user.DetailUser.nilai_indonesia}}" required disabled>
                </div>
                <div class="form-group col-md-3">
                    <label for="ing">Bhs.Inggris</label>
                    <input type="number" step="any" class="form-control editabled" name="ing" id="ing"
                        value="{{request.user.DetailUser.nilai_inggris}}" required disabled>
                </div>
                <div class="form-group col-md-3">
                    <label for="ipa">IPA</label>
                    <input type="number" step="any" class="form-control editabled" name="ipa" id="ipa"
                        value="{{request.user.DetailUser.nilai_ipa}}" required disabled>
                </div>
            </div>
            <div class="form-row" id="berkas">
                <div class="col-12 text-center">
                    <h3><u>Berkas-Berkas</u></h3>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-6 text-center hidden">
                    <label>Ijazah</label>
                    <a href="{{user.DetailUser.berkas_ijazah.url}}" data-fancybox
                        data-caption="Ijazah {{request.user.get_full_name}}">
                        <img class="img-fluid" src="{{user.DetailUser.berkas_ijazah.url}}" style="height: 250px;">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-6 text-center hidden">
                    <label>Akta Kelahiran</label>
                    <a href="{{user.DetailUser.berkas_akta.url}}" data-fancybox
                        data-caption="Akta Kelahiran {{request.user.get_full_name}}">
                        <img class="img-fluid" src="{{user.DetailUser.berkas_akta.url}}" style="height: 250px;">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-6 text-center hidden">
                    <label>Surat Kesehatan</label>
                    <a href="{{user.DetailUser.berkas_kesehatan.url}}" data-fancybox
                        data-caption="Surat Kesehatan {{request.user.get_full_name}}">
                        <img class="img-fluid" src="{{user.DetailUser.berkas_kesehatan.url}}" style="height: 250px;">
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-around">
                <div class="form-check hidden" style="display: none;">
                    <input class="form-check-input" type="checkbox" value="edit_foto" id="edit_foto"
                        onchange="upload_ulang(this.value)">
                    <label class="form-check-label" for="edit_foto">
                        Upload Ulang Foto Diri
                    </label>
                </div>
                <div class="form-check hidden" style="display: none;">
                    <input class="form-check-input" type="checkbox" value="edit_ijazah" id="edit_ijazah"
                        onchange="upload_ulang(this.value)">
                    <label class="form-check-label" for="edit_ijazah">
                        Upload Ulang Ijazah
                    </label>
                </div>
                <div class="form-check hidden" style="display: none;">
                    <input class="form-check-input" type="checkbox" value="edit_akta" id="edit_akta"
                        onchange="upload_ulang(this.value)">
                    <label class="form-check-label" for="edit_akta">
                        Upload Ulang Akta Kelahiran
                    </label>
                </div>
                <div class="form-check hidden" style="display: none;">
                    <input class="form-check-input" type="checkbox" value="edit_kesehatan" id="edit_kesehatan"
                        onchange="upload_ulang(this.value)">
                    <label class="form-check-label" for="edit_kesehatan">
                        Upload Ulang Surat Kesehatan
                    </label>
                </div>
            </div>
            <div class="form-row" id="foto" style="display: none;">
                <label>Upload Foto Diri</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="input_foto" name="foto">
                    <label class="custom-file-label" for="input_foto">Choose file</label>
                </div>
            </div>
            <div class="form-row" id="ijazah" style="display: none;">
                <label>Upload Ijazah/SKHUN</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="input_ijazah" name="skhun">
                    <label class="custom-file-label" for="input_ijazah">Choose file</label>
                </div>
            </div>
            <div class="form-row" id="akta" style="display: none;">
                <label>Upload Akta Kelahiran</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="input_akta" name="akta">
                    <label class="custom-file-label" for="input_akta">Choose file</label>
                </div>
            </div>
            <div class="form-row" id="kesehatan" style="display: none;">
                <label>Upload Surat Kesehatan</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="input_kesehatan" name="kesehatan">
                    <label class="custom-file-label" for="input_kesehatan">Choose file</label>
                </div>
            </div>
            <button type="button" class="btn btn-primary mt-2 float-right" id="btn_pendaftaran" data-toggle="modal"
                data-target="#modalPilihJalur">Ajukan Pendaftaran</button>
        </form>
    </div>

    <div class="modal fade" id="modalPilihJalur" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLongTitle2">Pilih Jalur Pendaftaran</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id='modal-body2'>
                    <div class="d-flex justify-content-around">
                        <button class="btn btn-primary" id="btnZonasi" onclick="pilihJalur('zonasi')">Zonasi
                        </button>
                        <button class="btn btn-primary" id="btnAfirmasi" onclick="pilihJalur('afirmasi')">Afirmasi
                        </button>
                        <button class="btn btn-primary" id="btnPerpindahan" onclick="pilihJalur('perpindahan')">
                            Perpindahan Orang Tua
                        </button>
                        <button class="btn btn-primary" id="btnPrestasi" onclick="pilihJalur('prestasi')">Prestasi
                        </button>
                    </div>
                    <hr>
                    <div class="form-row">
                        <div class="card col-12" id="cardPenjelasan" style="display: none;">
                            <div class="card-header bg-secondary">
                                <h4 class="text-center">Penjelasan Jalur Pendaftaran</h4>
                            </div>
                            <div class="card-body bg-dark">
                                <b>
                                    <p class="text-justify" id="textPengertian"></p>
                                </b>
                            </div>
                        </div>
                        <div id="zonasiPeringatan" style="display: none;">
                            <h4><b>Maaf Anda Tidak Bisa Mengambil Jalur Zonasi, dikarenakan alamat anda tidak satu
                                    domisili dengan sekolah ini</b></h4>
                        </div>
                        <form id="formPengajuan" method="POST" action="{% url 'siswa:proses_pengajuan'%}"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" id="hiddenID" name='pengajuan'>
                            <div id="fileUpload" style="display: none;">
                                <label id="labelUpload"></label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputUpload">
                                    <label class="custom-file-label" for="input_kesehatan">Choose file</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btn_no2" data-dismiss="modal">Tidak</button>
                    <button type="submit" form="formPengajuan" id="btn_yes2" class="btn btn-primary">Ya</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id='modal-body'>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btn_no" data-dismiss="modal">Tidak</button>
                    <button type="submit" form="formSiswa" id="btn_yes" class="btn btn-primary">Ya</button>
                </div>
            </div>
        </div>
    </div>