<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Test</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="email" name="email" placeholder="email"><br>
        <input type="password" name="password" placeholder="password"><br>
        <input type="text" name="first_name" placeholder="first"><br>
        <input type="text" name="last_name" placeholder="last"><br>
        <input type="submit">
    </form>
</body>
</html>