{% extends 'page_admin/base.html'%}

{% block judul %}Beranda{%endblock%}

{% block konten %}
<div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-4 col-12">
            <!-- small box -->
            <div class="small-box bg-primary">
                <div class="inner">
                    <h3>{{data.jumlah}}</h3>

                    <p>Jumlah Siswa Yang Mendaftar</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person"></i>
                </div>
                
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>{{data.laki}}</h3>

                    <p>Laki-Laki</p>
                </div>
                <div class="icon">
                    <i class="ion ion-male"></i>
                </div>
                
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>{{data.perempuan}}</h3>

                    <p>Perempuan</p>
                </div>
                <div class="icon">
                    <i class="ion ion-female"></i>
                </div>
                
            </div>
        </div>
        <!-- ./col -->
        <!-- ./col -->
    </div>
    {% with status=data.status%}
    <div class="row">
        <div class="col-lg-3 col-6">
             <!-- small box -->
             <div class="small-box bg-info">
                <div class="inner">
                    {% if status.identitas%}
                    <h3>{{status.identitas}}</h3>
                    {% else %}
                    <h3>0</h3>
                    {% endif %}
                    <p>Jumlah Siswa yang belum melengkapi identitas diri</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person"></i>
                </div>        
            </div>
        </div>
        <div class="col-lg-3 col-6">
             <!-- small box -->
             <div class="small-box bg-white">
                <div class="inner">
                    {% if status.upload_berkas%}
                    <h3>{{status.upload_berkas}}</h3>
                    {% else %}
                    <h3>0</h3>
                    {% endif %}
                    <p>Jumlah Siswa yang belum mengupload berkas</p>
                </div>
                <div class="icon">
                    <i class="ion ion-document"></i>
                </div>        
            </div>
        </div>
        <div class="col-lg-3 col-6">
             <!-- small box -->
             <div class="small-box bg-secondary">
                <div class="inner">
                    {% if status.verifikasi%}
                    <h3>{{status.verifikasi}}</h3>
                    {% else %}
                    <h3>0</h3>
                    {% endif %}

                    <p>Jumlah siswa yang belum diseleksi</p>
                </div>
                <div class="icon">
                    <i class="ion ion-help"></i>
                </div>        
            </div>
        </div>
        <div class="col-lg-3 col-6">
             <!-- small box -->
             <div class="small-box bg-danger">
                <div class="inner">
                    {% if status.gagal_verifikasi%}
                    <h3>{{status.gagal_verifikasi}}</h3>
                    {% else %}
                    <h3>0</h3>
                    {% endif %}

                    <p>Jumlah Siswa yang gagal di seleksi</p>
                </div>
                <div class="icon">
                    <i class="ion ion-close"></i>
                </div>        
            </div>
        </div>
    </div>
    {% endwith %}
    {% with status=data.status%}
    <div class="row">
        <div class="col-lg-3 col-6">
             <!-- small box -->
             <div class="small-box bg-dark">
                <div class="inner">
                    {% if status.jalur_zonasi%}
                    <h3>{{status.jalur_zonasi}}</h3>
                    {% else %}
                    <h3>0</h3>
                    {% endif %}
                    <p>Jumlah Siswa yang mendaftar melalui jalur Zonasi</p>
                </div>
                <div class="icon">
                    <i class="fas fa-map-marked-alt"></i>
                </div>        
            </div>
        </div>
        <div class="col-lg-3 col-6">
             <!-- small box -->
             <div class="small-box bg-primary">
                <div class="inner">
                    {% if status.jalur_afirmasi%}
                    <h3>{{status.jalur_afirmasi}}</h3>
                    {% else %}
                    <h3>0</h3>
                    {% endif %}
                    <p>Jumlah Siswa yang mendaftar melalui jalur Afirmasi</p>
                </div>
                <div class="icon">
                    <i class="fas fa-file"></i>
                </div>        
            </div>
        </div>
        <div class="col-lg-3 col-6">
             <!-- small box -->
             <div class="small-box bg-success">
                <div class="inner">
                    {% if status.jalur_perpindahan%}
                    <h3>{{status.jalur_perpindahan}}</h3>
                    {% else %}
                    <h3>0</h3>
                    {% endif %}
                    <p style="font-size: 13.7px;">Jumlah Siswa yang mendaftar melalui jalur Perpindahan Orang Tua</p>
                </div>
                <div class="icon">
                    <i class="fas fa-people-carry"></i>
                </div>        
            </div>
        </div>
        <div class="col-lg-3 col-6">
             <!-- small box -->
             <div class="small-box bg-warning">
                <div class="inner">
                    {% if status.jalur_prestasi%}
                    <h3>{{status.jalur_prestasi}}</h3>
                    {% else %}
                    <h3>0</h3>
                    {% endif %}
                    <p>Jumlah Siswa yang mendaftar melalui jalur Prestasi</p>
                </div>
                <div class="icon">
                    <i class="fas fa-award"></i>
                </div>        
            </div>
        </div>
    </div>
    {% endwith %}
    <!-- /.row -->
    <!-- Main row -->
    <!-- /.row (main row) -->
    
</div>
{% endblock %}