{% extends 'page_admin/base.html' %}
{% load static %}
{% block judul %}Jadwal Events{% endblock %}

{% block header %}
<link href='{% static "plugins/calendar_events/core/main.css" %}' rel='stylesheet' />
<link href='{% static "plugins/calendar_events/daygrid/main.css" %}' rel='stylesheet' />
<link href='{% static "plugins/calendar_events/list/main.css" %}' rel='stylesheet' />
<script src='{% static "plugins/calendar_events/core/main.js" %}'></script>
<script src='{% static "plugins/calendar_events/core/locales-all.js" %}'></script>
<script src='{% static "plugins/calendar_events/daygrid/main.js" %}'></script>
<script src='{% static "plugins/calendar_events/list/main.js" %}'></script>
{% endblock %}

{% block konten %}
<script>
    {% include 'page_siswa/js/list_events.js' %}
</script>
<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-4">
                {% if events %}
                <div class="card collapsed-card">
                    <div class="card-header">
                        <h4 class="card-title">List Events</h4>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                                <i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- the events -->
                        <div id="external-events">
                            <table class="table table-bordered">
                                <tr>
                                    <td>Kegiatan</td>
                                    <td>Jadwal</td>
                                    <td class="text-center">#</td>
                                </tr>
                                {% for event in events %}
                                <tr>
                                    <td class="align-middle">{{event.name}}</td>
                                    <td>{{event.start_date}} s/d {{event.end_date}}</td>
                                    <td class="align-middle">
                                        <button type="button" class="btn btn-tool"
                                            onclick="deleteEvent({{event.id}},'{{event.name}}')">
                                            <i class="fas fa-times" style="color: red;"></i>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                {% endif %}
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Tambah Event</h4>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                                <i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- the events -->
                        <div id="external-events">
                            <form method="POST">
                                {% csrf_token %}
                                <label>Nama Events</label>
                                <input type="text" class="form-control" placeholder="Masukan Nama Event" name="event">
                                <label>Tanggal Mulai</label>
                                <input type="text" class="form-control datetimepicker-input" id="datetimepicker7"
                                    data-toggle="datetimepicker" data-target="#datetimepicker7" name="mulai"
                                    placeholder="Masukan Tanggal Mulai" required />
                                <label>Tanggal Selesai</label>
                                <input type="text" class="form-control datetimepicker-input" id="datetimepicker8"
                                    data-toggle="datetimepicker" data-target="#datetimepicker8" name="akhir"
                                    placeholder="Masukan Tanggal Akhir" required />
                                <input type="submit" class="btn btn-primary float-right" value="Tambah Event">
                            </form>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-8">
                <div class="card card-primary">
                    <div class="card-body p-0">
                        <!-- THE CALENDAR -->
                        <div id='calendar'></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" id="notifikasi" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h4 class="text-center">Peringatan</h4>
                </div>
            </div>
            <div class="modal-body">
                <h4>Apakah Anda Yakin akan Menghapus Kegiatan</h4>
                <h4><b id="namaKegiatan"></b></h4>
                <form method="POST" id="formHapusKegiatan">
                    {% csrf_token %}
                    <input type="hidden" name="id" id="idKegiatan">
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                <button type="submit" form="formHapusKegiatan" class="btn btn-primary">Ya</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(function () {
        $('#datetimepicker7').datetimepicker({
            format: 'DD-MM-YYYY'
        });
        $('#datetimepicker8').datetimepicker({
            useCurrent: false,
            format: 'DD-MM-YYYY'
        });
        $("#datetimepicker7").on("change.datetimepicker", function (e) {
            $('#datetimepicker8').datetimepicker('minDate', e.date);
        });
        $("#datetimepicker8").on("change.datetimepicker", function (e) {
            $('#datetimepicker7').datetimepicker('maxDate', e.date);
        });
    });
</script>

<script>
    function deleteEvent(id, name) {
        document.getElementById('namaKegiatan').innerHTML = name
        document.getElementById('idKegiatan').value = id
        $('#notifikasi').modal();
    }
</script>
{% endblock %}