{% extends 'page_admin/base.html' %}
{% load static %}
{% block judul %}Setting PPDB{% endblock %}

{% block header %}

{% endblock %}

{% block konten %}
{% load pembagian_kuota %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h4 class="text-center">Setting PPDB</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-5">
                    <div class="card">
                        <div class="card-header bg-primary">
                            Daya Tampung Sekolah
                        </div>
                        <div class="card-body">
                            <form method="POST" id="formKuota">
                                {% csrf_token %}
                                <label for="dayaTampung">Masukan Daya Tampung Sekolah</label>
                                <input type="text" class="form-control" name="dayaTampung" id="dayaTampung"
                                    onchange="pembagianKuota(this.value)" value="{{data_sekolah.daya_tampung}}"
                                    required>
                                <h4 class="mt-2"> Kuota Siswa untuk Setiap jalur</h4>
                                <hr style="margin-top: -10px;">
                                <div class="form-row">
                                    <div class="col-sm-12 col-lg-6">
                                        <label for="afirmasi">Jalur Zonasi</label>
                                        <input type="number" class="form-control" name="zonasi" id="zonasi" value=0
                                            readonly>
                                    </div>
                                    <div class="col-sm-12 col-lg-6">
                                        <label for="afirmasi">Jalur Afirmasi</label>
                                        <input type="number" class="form-control" name="afirmasi" id="afirmasi" value=0
                                            readonly>
                                    </div>
                                    <div class="col-sm-12 col-lg-6">
                                        <label for="afirmasi">Jalur Perpindahan</label>
                                        <input type="number" class="form-control" name="perpindahan" id="perpindahan"
                                            value=0 readonly>
                                    </div>
                                    <div class="col-sm-12 col-lg-6">
                                        <label for="afirmasi">Jalur Prestasi</label>
                                        <input type="number" class="form-control" name="prestasi" id="prestasi" value=0
                                            readonly>
                                    </div>
                                </div>
                                <input type="button" class="btn btn-primary mt-2 float-right" value="Simpan"
                                    data-toggle="modal" data-target="#modalDayaTampung">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div class="card">
                        <div class="card-header bg-success text-center">
                            Pengaturan Lainnya
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-around">
                                <button class="btn btn-danger" type="button" id="btnStatus"
                                    onclick="showHideDiv('status')">Status PPDB</button>
                                <button class="btn btn-info" type="button" id="btnAlamat"
                                    onclick="showHideDiv('nama')">Nama Sekolah</button>
                                <button class="btn btn-warning" type="button" id="btnAlamat"
                                    onclick="showHideDiv('alamat')">Alamat Sekolah</button>
                            </div>
                            <div class="d-flex justify-content-around mt-2">
                                <button class="btn btn-secondary" type="button" id="btnStatus"
                                    onclick="showHideDiv('desc')">Deskripsi Daftar Ulang</button>
                                <button class="btn btn-primary" type="button" id="btnStatus" data-toggle="modal"
                                    data-target="#modalTahunAjaranBaru">Tahun Ajaran Baru</button>
                                <!-- <button class="btn btn-dark" type="button" id="btnStatus"
                                    onclick="showHideDiv('password')">Ubah
                                    Password Admin</button> -->
                            </div>
                            <!-- <div class="d-flex justify-content-around mt-2">
                                <button class="btn btn-primary" type="button" id="btnStatus" data-toggle="modal"
                                    data-target="#modalTahunAjaranBaru">Tahun Ajaran Baru</button>
                            </div> -->
                            <hr>
                            <div id="divStatus" style="display: none;">
                                <form method="POST" id="formStatus">
                                    {% csrf_token %}
                                    <label>Status Pendaftaran PPDB :
                                        {{data_sekolah.get_status_pendaftaran_display}}</label>
                                    <select class="form-control" name="status" required>
                                        <option value="0" {% if data_sekolah.status_pendaftaran == 0%}selected{%endif%}
                                            disabled>
                                            Pendaftaran Ditutup</option>
                                        <option value="1" {% if data_sekolah.status_pendaftaran == 1%}selected{%endif%}>
                                            Pendaftaran Dibuka</option>
                                        <option value="2" {% if data_sekolah.status_pendaftaran == 2%}selected{%endif%}>
                                            Proses Seleksi Siswa</option>
                                        <option value="3" {% if data_sekolah.status_pendaftaran == 3%}selected{%endif%}>
                                            Proses Daftar Ulang</option>
                                        <option value="4" {% if data_sekolah.status_pendaftaran == 4%}selected{%endif%}>
                                            Pengumuman</option>
                                    </select>
                                    <input type="button" class="form-control btn-primary mt-2" value="Simpan"
                                        data-toggle="modal" data-target="#modalStatusPPDB">
                                </form>
                            </div>
                            <div id="divNama" style="display: none;">
                                <form method="POST" id="formNama">
                                    {% csrf_token %}
                                    <label>Masukan Nama Sekolah</label>
                                    {% if data_sekolah.nama %}
                                    <input type="text" class="form-control" name="nama_sekolah"
                                        placeholder="Masukan Nama Sekolah" value="{{data_sekolah.nama}}" required>
                                    {% else %}
                                    <input type="text" class="form-control" name="nama_sekolah"
                                        placeholder="Masukan Nama Sekolah" required>
                                    {% endif %}
                                    <input type="button" class="form-control btn-primary mt-2" value="Simpan"
                                        data-toggle="modal" data-target="#modalNamaSekolah">
                                </form>
                            </div>
                            <div id="divAlamat" style="display: none;">
                                <label>Pilih Lokasi Alamat Sekolah</label>
                                <form method="POST" id="formSekolah">
                                    <div class="form-row">
                                        {% csrf_token %}
                                        <textarea class="form-control" placeholder="Alamat Lengkap"
                                            name='alamat_lengkap' required>{{data_sekolah.alamat_lengkap}}</textarea>
                                        <div class="form-group col-md-6">
                                            <label for="provinsi">Provinsi</label>
                                            <select id="provinsi" class="form-control" required disabled>
                                                <option class="default_op" selected disabled value>
                                                    Silahkan Pilih
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="kabupaten">Kabupaten/Kota</label>
                                            <select id="kabupaten" class="form-control" required disabled>
                                                <option class="default_op" selected disabled value>
                                                    Silahkan Pilih
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="kecamatan">Kecamatan</label>
                                            <select id="kecamatan" class="form-control" required disabled>
                                                <option class="default_op" selected disabled value>
                                                    Silahkan Pilih
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="desa">Desa/Kelurahan</label>
                                            <select id="desa" name="desa" class="form-control" required disabled>
                                                <option class="default_op" selected disabled value>
                                                    Silahkan Pilih
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <input type="hidden" id='prov' name="prov">
                                    <input type="hidden" id='kab' name="kab">
                                    <input type="hidden" id='kec' name="kec">
                                    <input type="button" class="form-control btn-primary mt-2" value="Simpan"
                                        data-toggle="modal" data-target="#modalAlamat">
                                </form>
                            </div>
                            <div id="divDesc" style="display: none;">
                                <form method="POST" id="formDesc">
                                    {% csrf_token %}
                                    <label>Masukan Jam Mulai dan Tutup Daftar Ulang</label>
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="text-center">Jam Mulai</h5>
                                            <div class="row">
                                                <div class="col">
                                                    <input type="number" class="form-control" name="mulai_jam"
                                                        placeholder="Jam" min="1" max="24" required>
                                                </div>
                                                <div class="col">
                                                    <input type="number" class="form-control" name="mulai_menit"
                                                        placeholder="Menit" min="0" max="60" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <h5 class="text-center">Jam Tutup</h5>
                                            <div class="row">
                                                <div class="col">
                                                    <input type="number" class="form-control" name="tutup_jam"
                                                        placeholder="Jam" min="1" max="24" required>
                                                </div>
                                                <div class="col">
                                                    <input type="number" class="form-control" name="tutup_menit"
                                                        placeholder="Menit" min="0" max="60" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col mt-2">
                                            <label>Pilih Tanggal Mulai</label>
                                            <input type="text" class="form-control datetimepicker-input"
                                                id="datetimepicker7" data-toggle="datetimepicker"
                                                data-target="#datetimepicker7" name="mulai"
                                                placeholder="Pilih Tanggal Mulai" required />
                                        </div>
                                        <div class="col mt-2">
                                            <label>Pilih Tanggal Akhir</label>
                                            <input type="text" class="form-control datetimepicker-input"
                                                id="datetimepicker8" data-toggle="datetimepicker"
                                                data-target="#datetimepicker8" name="akhir"
                                                placeholder="Pilih Tanggal Akhir" required />
                                        </div>
                                    </div>
                                    <input type="button" class="form-control btn-primary mt-2" value="Simpan"
                                        data-toggle="modal" data-target="#modalDesc">
                                </form>
                            </div>
                            <div id="divPassword" style="display: none;">
                                <label for="oldPassword" id="label_old">Masukan Password Sebelumnya</label>
                                <div class="form-row form-group">
                                    <input type="hidden" name="id_user" id="id_user" value="{{request.user.id}}"
                                        readonly>
                                    <div class="col-sm-12 col-md-8">
                                        <input type="password" class="form-control" name="old_password"
                                            id="old_password">
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <button type="button" class="btn btn-primary float-right btn-block"
                                            id="btn_check"
                                            onclick="check_password(id_user.value, old_password.value)">Check
                                            Password</button>
                                    </div>
                                </div>
                                <label for="newPassword" class="text-muted" id="label_new">Masukan Password Baru</label>
                                <div class="form-row form-group">
                                    <div class="col-12">
                                        <input type="password" class="form-control" name="new_password"
                                            id="new_password" disabled>
                                    </div>
                                    <div class="col-12">
                                        <label class="text-muted" for="confirm_password" id="label_confirm">Masukan
                                            Kembali Password Baru</label>
                                    </div>
                                    <div class="col-12">
                                        <input type="password" class="form-control" id="confirm_password"
                                            name="confirm_password" disabled>
                                    </div>
                                    <div class="col-12 mt-2">
                                        <button type="button" class="btn btn-secondary btn-block" id="btn_change"
                                            onclick="ganti_password(id_user.value, new_password.value, confirm_password.value)"
                                            disabled> Save Password</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade bd-example-modal-sm" id="modalDayaTampung" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h4 class="text-center">Peringatan</h4>
                </div>
            </div>
            <div class="modal-body">
                <h5>Apakah Anda Yakin akan Merubah Daya Tampung Sekolah ?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                <button type="submit" form="formKuota" class="btn btn-primary">Ya</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-sm" id="modalAlamat" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h4 class="text-center">Peringatan</h4>
                </div>
            </div>
            <div class="modal-body">
                <h5>Apakah Anda Yakin akan Mengganti Alamat Sekolah?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                <button type="submit" form="formSekolah" class="btn btn-primary">Ya</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-sm" id="modalStatusPPDB" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h4 class="text-center">Peringatan</h4>
                </div>
            </div>
            <div class="modal-body">
                <h5>Apakah Anda Yakin akan Mengganti Status PPDB ?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                <button type="submit" form="formStatus" class="btn btn-primary">Ya</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-sm" id="modalNamaSekolah" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h4 class="text-center">Peringatan</h4>
                </div>
            </div>
            <div class="modal-body">
                <h5>Apakah Anda Yakin akan Mengganti Nama Sekolah ?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                <button type="submit" form="formNama" class="btn btn-primary">Ya</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" id="modalDesc" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h4 class="text-center">Peringatan</h4>
                </div>
            </div>
            <div class="modal-body">
                <h5>Apakah Anda Yakin akan Mengganti deskripsi untuk pendaftaran ulang ?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                <button type="submit" form="formDesc" class="btn btn-primary">Ya</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPeringatan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Peringatan</h5>
            </div>
            <div class="modal-body">
                <h3 id="modal-body" class="text-center"></h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn_modal" onclick="close_modal()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" id="modalTahunAjaranBaru" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h4 class="text-center">Peringatan</h4>
                </div>
            </div>
            <div class="modal-body">
                <h5>Apakah anda yakin ingin memulai tahun ajaran baru?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                <button type="submit" class="btn btn-primary" onclick="openModalAjaranBaru()">Ya</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" id="modalPeringatanAjaranBaru" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <div class="modal-title">
                    <h4 class="text-center">Peringatan</h4>
                </div>
            </div>
            <div class="modal-body">
                <h5 style="text-align: justify;">Jika anda ingin memulai tahun ajaran baru, seluruh <b
                        style="color: red;">data siswa</b>
                    pada tahun ajaran ini akan terhapus!</h5>
                <h5 style="text-align: justify;"><b>Apakah Anda Yakin</b> ?</h5>
            </div>
            <div class="modal-footer form-row">
                <div class="col-12">
                    <label>Ketik "<b style="color: aqua;">Tahun Ajaran Baru</b>", di form dibawah, untuk memulai tahun
                        ajaran baru. dan <b style="color: red;">seluruh data siswa akan terhapus</b>.</label>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <form method="POST" id="form_reset_tahun" action="{% url 'admin_page:ajax_reset_tahun'%}">
                            {% csrf_token %}
                            <input type="text" class="form-control" name="checkForm" id="checkForm"
                                placeholder="Tahun Ajaran Baru">
                            <input type="hidden" name="secretText" id="secretText">
                            <button type="button" class="btn btn-primary float-right ml-1"
                                onclick="validasiForm()">Ya</button>
                            <button class="btn btn-secondary float-right ml-1" data-dismiss="modal">Tidak</button>
                        </form>
                    </div>
                </div>
                <div class="col-12" style="display: none;" id="validasiGagal">
                    <label style="color: red;text-align: justify;">Text Salah, Harap Masukan <b
                            style="color: aqua;">"Tahun Ajaran Baru"</b> di form, untuk memulai tahun ajaran
                        baru!</label>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    {% include 'page_siswa/js/alamatLengkap.js' %}
</script>
{% if data_sekolah.daya_tampung != 0 %}
<script>
    $(document).ready(function () {
        var data = JSON.parse('{{data_sekolah.pembagian_kuota|safe}}')
        $('#afirmasi').val(data.afirmasi);
        $('#zonasi').val(data.zonasi);
        $('#perpindahan').val(data.perpindahan);
        $('#prestasi').val(data.prestasi);
    })
</script>
{% endif %}

{% if data_sekolah.alamat %}
<script>
    $(document).ready(function () {
        var data = JSON.parse('{{data_sekolah.split_alamat|safe}}')
        var op = document.getElementsByClassName('default_op')
        op[0].text = data.provinsi
        op[1].text = data.kabupaten
        op[2].text = data.kecamatan
        op[3].text = data.desa
    })
</script>
{% endif %}

<script>
    $('#dayaTampung').keyup(function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');
        if (!this.value) {
            this.value = 0
        }
        this.value = parseInt(this.value)
        let daya = this.value
        $.ajax({
            url: "{% url 'admin_page:ajax_pembagian'%}" + '?daya_tampung=' + daya,
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#afirmasi').val(data.afirmasi);
                $('#zonasi').val(data.zonasi);
                $('#perpindahan').val(data.perpindahan);
                $('#prestasi').val(data.prestasi);
            },
            error: function (e) {
                alert(e.responseJSON.message)
            }

        })
    })
</script>

<script>
    function showHideDiv(val) {
        if (val == 'status') {
            $('#divNama').hide();
            $('#divStatus').show();
            $('#divAlamat').hide();
            $('#divDesc').hide();
            $('#divPassword').hide();
        }
        else if (val == 'alamat') {
            $('#divNama').hide();
            $('#divStatus').hide();
            $('#divAlamat').show();
            $('#divDesc').hide();
            $('#divPassword').hide();
        }
        else if (val == 'nama') {
            $('#divNama').show();
            $('#divStatus').hide();
            $('#divAlamat').hide();
            $('#divDesc').hide();
            $('#divPassword').hide();
        }
        else if (val == 'desc') {
            $('#divNama').hide();
            $('#divStatus').hide();
            $('#divAlamat').hide();
            $('#divDesc').show();
            $('#divPassword').hide();
        }
        else if (val == 'password') {
            $('#divNama').hide();
            $('#divStatus').hide();
            $('#divAlamat').hide();
            $('#divDesc').hide();
            $('#divPassword').show();
        }
    }
    function showModal(id) {
        $('#notifikasi').modal();
    }
</script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker7').datetimepicker({
            format: 'DD-MM-YYYY'
        });
        $('#datetimepicker8').datetimepicker({
            useCurrent: false,
            format: 'DD-MM-YYYY'
        });
        $("#datetimepicker7").on("change.datetimepicker", function (e) {
            $('#datetimepicker8').datetimepicker('minDate', e.date);
        });
        $("#datetimepicker8").on("change.datetimepicker", function (e) {
            $('#datetimepicker7').datetimepicker('maxDate', e.date);
        });
    });
</script>

<script>
    const text_peringatan = document.getElementById('modal-body');
    const label_old = document.getElementById('label_old');
    const label_new = document.getElementById('label_new');
    const label_confirm = document.getElementById('label_confirm');
    const input_old = document.getElementById('old_password');
    const input_new = document.getElementById('new_password');
    const input_confirm = document.getElementById('confirm_password');
    const btn_check = document.getElementById('btn_check');
    const btn_change = document.getElementById('btn_change');
    const btn_modal = document.getElementById('btn_modal');

    function check_password(id, password) {
        // console.log(id)
        if (!password) {
            text_peringatan.innerHTML = "Password Lama Tidak Boleh Kosong!";
            $('#modalPeringatan').modal('show');
        }
        else if (id === 'None' || !id) {
            text_peringatan.innerHTML = "Terjadi Kesalahan, Silahkan Coba Kembali.";
            $('#modalPeringatan').modal('show');
            btn_modal.setAttribute("onClick", "location.reload()");
        }
        else {
            const data = JSON.stringify({
                "id": id,
                "old_password": password
            })
            $.ajax({
                url: '{% url "admin_page:ajax_check_password" %}',
                type: 'POST',
                contentType: 'application/json',
                data: data,
                dataType: 'json',
                success: function (res) {
                    // console.log(res)
                    label_new.classList.remove('text-muted');
                    label_confirm.classList.remove('text-muted');
                    label_old.classList.add('text-muted');
                    input_old.disabled = true;
                    input_new.disabled = false;
                    input_confirm.disabled = false;
                    btn_check.disabled = true;
                    btn_check.className = "btn btn-secondary float-right btn-block";
                    btn_change.disabled = false;
                    btn_change.className = "btn btn-primary btn-block";
                },
                error: function (request, status, error) {
                    // console.log(request.responseJSON)
                    text_peringatan.innerHTML = request.responseJSON.error;
                    $('#modalPeringatan').modal('show');
                    input_old.value = "";
                }
            })
        }
    }

    function ganti_password(id, new_password, confirm_password) {
        if (!new_password || !confirm_password) {
            text_peringatan.innerHTML = "Password Baru dan Konfirmasi Password tidak boleh kosong.";
            $('#modalPeringatan').modal('show');
        }
        else if (!id) {
            text_peringatan.innerHTML = "Terjadi Kesalahan, Silahkan Coba Kembali.";
            btn_modal.setAttribute("onClick", "location.reload()");
        }
        else {
            const data = JSON.stringify({
                "id": id,
                "new_password": new_password,
                "confirm_password": confirm_password
            })
            console.log(data)
            $.ajax({
                url: '{% url "admin_page:ajax_new_password" %}',
                type: 'POST',
                contentType: 'application/json',
                data: data,
                dataType: 'json',
                success: function (res) {
                    // console.log(res)
                    text_peringatan.innerHTML = "Password Berhasil Diubah, Silahkan Login Kembali!"
                    btn_modal.setAttribute("onClick", "window.location.href = '{%url 'siswa:login'%}'");
                    $('#modalPeringatan').modal({ backdrop: 'static', keyboard: false });
                },
                error: function (request, status, error) {
                    // console.log(request.responseJSON)
                    text_peringatan.innerHTML = request.responseJSON.error;
                    $('#modalPeringatan').modal('show');
                }
            })
        }
    }

    function close_modal() {
        $('#modalPeringatan').modal('hide');
    }
</script>

<script>
    function openModalAjaranBaru() {
        $('#modalPeringatanAjaranBaru').modal('show');
        $('#modalTahunAjaranBaru').modal('hide');
    }
    function validasiForm() {
        const validasiText = document.getElementById('checkForm').value
        const secretText = document.getElementById('secretText')
        const form = document.getElementById('form_reset_tahun')
        if (validasiText === 'Tahun Ajaran Baru') {
            secretText.value = 'fjazxsaas'
            form.submit()
        }
        else {
            $('#validasiGagal').show()
        }
    }
    $('#checkForm').keyup(function () {
        if (!this.value) {
            $('#validasiGagal').hide()
        }
    })
</script>
{% endblock %}