{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'siswa:login' %}" class="brand-link">
        <img src="https://i.postimg.cc/qqfG9SZm/Admin-LTELogo.png" alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">PPDB Online</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'assets/Network-Profile.png'%}" class="img-circle elevation-2"
                    alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{request.user.get_full_name}}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview">
                    <a href="{% url 'admin_page:home'%}" class="nav-link {%if active == 'beranda'%}active{%endif%}">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Beranda</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="{% url 'admin_page:list_siswa'%}" class="nav-link {%if active == 'list'%}active{%endif%}">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>List Siswa</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="{% url 'admin_page:seleksi'%}" class="nav-link {%if active == 'seleksi'%}active{%endif%}">
                        <i class="nav-icon fas fa-clipboard-check"></i>
                        <p>Seleksi Siswa</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="{% url 'admin_page:daftar_ulang'%}"
                        class="nav-link {%if active == 'daftar_ulang'%}active{%endif%}">
                        <i class="nav-icon fas fa-clipboard-list"></i>
                        <p>Daftar Ulang</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="{% url 'admin_page:events'%}" class="nav-link {%if active == 'events'%}active{%endif%}">
                        <i class="nav-icon fas fa-calendar-day"></i>
                        <p>Jadwal Events</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="{% url 'admin_page:setting'%}" class="nav-link {%if active == 'setting'%}active{%endif%}">
                        <i class="nav-icon fas fa-cog"></i>
                        <p>Setting PPDB</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>