{% extends 'page_admin/base.html' %}

{%block judul%}List Siswa{%endblock%}

{% block konten %}
{% load static%}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {% comment %}
                    {% if list_siswa %}
                    {% endcomment %}
                    <div class="form-row">
                        <div class="col-12">
                            Action
                        </div>
                        <div class="col-6">
                            <button type="button" id="otomatisSeleksi" form="dataSiswa" class="btn btn-success"
                                onclick="seleksiOtomatis()">
                                Selesai Seleksi Calon Siswa Jalur {{seleksi.nama}}
                            </button>
                        </div>
                        <div class="col">
                            <h4 class="float-left">Jumlah Siswa Seleksi Jalur {{seleksi.nama}} :
                                {{seleksi.jumlah_siswa}}
                            </h4>
                            <h3 class="float-left">Kuota untuk Jalur {{seleksi.nama}} : {{seleksi.kuota}}
                            </h3>
                        </div>
                    </div>
                    {% comment %}
                    {% endif %}
                    {% endcomment %}
                    <div class="form-row mt-4 d-flex justify-content-center">
                        <div class="col-7 border" id="divOtomatis" hidden>
                            <div class="col-12">
                                <p class="text-center"><b>Setting Seleksi Otomatis</b></p>
                                <p class="text-center" style="margin-top: -20px;"><b>Berdasarkan Nilai Rata-Rata Ujian
                                        Nasional</b></p>
                            </div>
                            <div class="col-12">
                                <form id="seleksiOtomatis" method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-sm-12 col-lg-6">
                                            <label for="jumlahSiswa">Masukan Jumlah Siswa Yang ingin Diterima</label>
                                            <input id="jumlahSiswa" type="text" name="jumlahSiswa" id="jumlahSIswa"
                                                class="form-control" />
                                        </div>
                                        <div class="col-sm-12 col-lg-6">
                                            <label for="jumlahSiswa">Jumlah Siswa yang sudah Mendaftar </label>
                                            <input id="jumlahSiswa" type="text" class="form-control"
                                                id="siswaVerifikasi" value="{{list_siswa|length}}" disabled />
                                        </div>
                                        <button type="button" data-toggle="modal" data-target='#konfirmasiOtomatis'
                                            class="btn btn-primary form-control mt-2">Konfirmasi</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-bordered table-hover" id="data">
                        {% csrf_token %}
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center align-middle" style="width: 9%" rowspan="2">No</th>
                                <th class="text-center align-middle" style="width: 9%" rowspan="2">NIS</th>
                                <th class="text-center align-middle" style="width: 20%" rowspan="2">Nama</th>
                                <th class="text-center align-middle" style="width: 29%" colspan="4">Nilai Ujian
                                    Nasional</th>
                                <th class="text-center align-middle" style="width: 10%" rowspan="2">Rata-Rata Nilai
                                </th>
                                <th class="text-center align-middle manualSeleksi" style="width: 9%;" rowspan="2">
                                    Action
                                </th>
                            </tr>
                            <tr>
                                <th class="text-center align-middle">Bhs.Indonesia</th>
                                <th class="text-center align-middle">Bhs.Inggris</th>
                                <th class="text-center align-middle">Matematika</th>
                                <th class="text-center align-middle" style="width: 9%">IPA</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if seleksi.nama == 'Zonasi' or seleksi.nama == 'Zonasii' %}
                                {% include 'page_admin/tabel_zonasi.html' %}
                            {% else %}
                                {% include 'page_admin/tabel_lainnya.html' %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" id="modalPeringatan" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h4 class="text-center">Peringatan</h4>
                </div>
            </div>
            <div class="modal-body">
                <h2>Settingan PPDB belum dilengkapi, Silahkan Lengkapi Terlebih Dahulu.</h2>
            </div>
            <div class="modal-footer">
                <a href="{% url 'admin_page:setting' %}">
                    <button type="button" form="formKuota" class="btn btn-primary">Ya</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
                <div class="detail-siswa" style="display: block;">
                    <h3 class="text-center">Detail Siswa</h3>
                    <div class="text-center">
                        <img class="img-fluid img-thumbnail" id="detailFoto" style="height: 250px;display: none;"
                            onerror="this.src='{% static 'assets/Network-Profile.png'%}'">
                    </div>
                    <table class="table">
                        <tr>
                            <th style="width: 18%">NIS</th>
                            <td id="detailNIS" style="width: 32%"></td>
                            <th style="width: 18%">Email</th>
                            <td id="detailEmail" style="width: 32%"></td>
                        </tr>
                        <tr>
                            <th>Nama Lengkap</th>
                            <td id="detailNama"></td>
                            <th>Jenis Kelamin</th>
                            <td id="detailJK">Data Belum Dilengkapi</td>
                        </tr>
                        <tr>
                            <th>Tanggal Lahir</th>
                            <td id="detailTanggal">Data Belum Dilengkapi</td>
                            <th>Umur</th>
                            <td id="detailUmur">Data Belum Dilengkapi</td>
                        </tr>
                        <tr>
                            <th colspan="1">Alamat</th>
                            <td colspan="3" id="detailAlamat">Data Belum Dilengkapi</td>
                        </tr>
                    </table>
                    <div class="row">
                        <div class="col-12 text-center">
                            <h3><u>Hasil Nilai Ujian Nasional</u></h3>
                        </div>
                        <table class="table">
                            <tr>
                                <th style="width: 10%">Bahasa Indonesia</th>
                                <td id="detailIndo" class="align-middle" style="width: 32%">Data Belum Dilengkapi</td>
                                <th style="width: 10%">Bahasa Inggris</th>
                                <td id="detailIng" class="align-middle" style="width: 32%">Data Belum Dilengkapi</td>
                            </tr>
                            <tr>
                                <th>Matematika</th>
                                <td id="detailMtk">Data Belum Dilengkapi</td>
                                <th>IPA</th>
                                <td id="detailIpa">Data Belum Dilengkapi</td>
                            </tr>
                        </table>
                        <div class="row" id="detailBerkas">
                            <div class="col-12 text-center">
                                <h3><u>Berkas-Berkas</u></h3>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-6 text-center hidden">
                                <div class="row">
                                    <div class="col-12">
                                        <label>Ijazah</label>
                                    </div>
                                    <div class="col-12">
                                        <a class="berkasIjazah" href="#" data-fancybox data-caption="Ijazah">
                                            <img class="img-fluid berkasIjazah" src="#" style="height: 250px;">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-6 text-center hidden">
                                <div class="row">
                                    <div class="col-12">
                                        <label>Akta Kelahiran</label>
                                    </div>
                                    <div class="col-12">
                                        <a class="berkasAkta" href="#" data-fancybox data-caption="Akta Kelahiran">
                                            <img class="img-fluid berkasAkta" src="#" style="height: 250px;">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if seleksi.nama == 'Zonasi' or seleksi.nama == 'Zonasii'%}
                        <div class="col-lg-12 col-md-12 col-xs-12 text-center hidden">
                        {% else %}
                        <div class="col-lg-6 col-md-6 col-xs-6 text-center hidden">
                        {% endif %}
                            <div class="row">
                                <div class="col-12">
                                    <label>Surat Kesehatan</label>
                                </div>
                                <div class="col-12">
                                    <a class="berkasKesehatan" href="#" data-fancybox data-caption="Surat Kesehatan">
                                        <img class="img-fluid berkasKesehatan" src="#" style="height: 250px;">
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% if 'Zonasi' not in seleksi.nama %}
                        <div class="col-lg-6 col-md-6 col-xs-6 text-center hidden">
                            <div class="row">
                                <div class="col-12">
                                    <label>Berkas {{seleksi.nama}}</label>
                                </div>
                                <div class="col-12">
                                    <a class="berkasTambahan" href="#" data-fancybox data-caption="Berkas Afirmasi">
                                        <img class="img-fluid berkasTambahan" src="#" style="height: 250px;">
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" id="modalOtomatis" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h4 class="text-center">Peringatan</h4>
                </div>
            </div>
            <div class="modal-body" id="modalKonfirmasi">
                <!-- <h3><b>Siswa Yang Lolos Seleksi : {{seleksi.jumlah_siswa}}</b></h3> -->
                <h3><b>Sisa Kuota Untuk Jalur {{seleksi.nama}} : {{seleksi.sisa_kuota}}</b></h3>
                <h3>Sisa Kuota Jalur {{seleksi.nama}} akan dipindahkan ke jalur prestasi.</h3>
                <h4>Apakah Anda yakin, ingin menyelesaikan seleksi untuk Jalur {{seleksi.nama}} ?</h4>
            </div>
            <div class="modal-footer">
                <form method="POST">
                    {% csrf_token%}
                    <input type="hidden" name="data" value="{{seleksi.nama}}" />
                    <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="btn_manual">Ya</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% if seleksi.nama == 'Zonasi' or seleksi.nama == 'Zonasii' %}
<div class="modal fade bd-example-modal-sm" id="modalPemberitahuan" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h4 class="text-center">Pemberitahuan</h4>
                </div>
            </div>
            <div class="modal-body">
                <h5>Harap Cek Berkas Dan Data-Data Yang Dikirimkan Oleh Calon Siswa, Dengan Cara Menekan Tombol
                    <b>Detail</b>.</h5>
                <h5>Bila Data atau berkas yang dikirimkan tidak sesuai, Tekan Tombol <b>Tolak</b> Untuk Menolak
                    Pendaftaran.</h5>
                <h5>Jika Telah Selesai mencek seluruh berkas dan data siswa, klik tombol <b>Selesai Verifikasi</b>.</h5>
                <h5>Secara Otomatis Seluruh Calon Siswa, yang pengajuan pendaftarannya tidak ditolak akan diterima dalam
                    jalur zonasi, <b>hingga memenuhi sisa quota</b>.</h5>
                <h4>Prioritas yang dipilih dalam Jalur Zonasi</h4>
                <h3><b>Berdasarkan Domisili yang sama dengan Sekolah : </b></h3>
                <h5><b>1. Desa/Kelurahan</b></h5>
                <h5><b>2. Kecamatan</b></h5>
                <h5><b>3. Kabupaten</b></h5>
                <h5>Jika Siswa Berada di domisili yang sama, akan ditentukan oleh <b>Rata-Rata Nilai UN</b></h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Ya</button>
            </div>
        </div>
    </div>
</div>
{% elif seleksi.nama == 'Afirmasi' or seleksi.nama == 'Afirmasii' %}
<div class="modal fade bd-example-modal-sm" id="modalPemberitahuan" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h4 class="text-center">Pemberitahuan</h4>
                </div>
            </div>
            <div class="modal-body">
                <h5>Harap Cek Berkas Dan Data-Data Yang Dikirimkan Oleh Calon Siswa, Dengan Cara Menekan Tombol
                    <b>Detail</b>.</h5>
                <h5>Bila Data atau berkas yang dikirimkan tidak sesuai, Tekan Tombol <b>Tolak</b> Untuk Menolak
                    Pendaftaran.</h5>
                <h5>Jika Telah Selesai mencek seluruh berkas dan data siswa, klik tombol <b>Selesai Verifikasi</b>.</h5>
                <h5>Secara Otomatis Seluruh Calon Siswa, yang pengajuan pendaftarannya tidak ditolak akan diterima dalam
                    jalur afirmasi, <b>hingga memenuhi sisa quota</b>.</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Ya</button>
            </div>
        </div>
    </div>
</div>
{% elif seleksi.nama == 'Perpindahan' or seleksi.nama == 'Perpiindahan' %}
<div class="modal fade bd-example-modal-sm" id="modalPemberitahuan" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h4 class="text-center">Pemberitahuan</h4>
                </div>
            </div>
            <div class="modal-body">
                <h5>Harap Cek Berkas Dan Data-Data Yang Dikirimkan Oleh Calon Siswa, Dengan Cara Menekan Tombol
                    <b>Detail</b>.</h5>
                <h5>Bila Data atau berkas yang dikirimkan tidak sesuai, Tekan Tombol <b>Tolak</b> Untuk Menolak
                    Pendaftaran.</h5>
                <h5>Jika Telah Selesai mencek seluruh berkas dan data siswa, klik tombol <b>Selesai Verifikasi</b>.</h5>
                <h5>Secara Otomatis Seluruh Calon Siswa, yang pengajuan pendaftarannya tidak ditolak akan diterima dalam
                    jalur Perpindahan Orangtua, <b>hingga memenuhi sisa quota</b>.</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Ya</button>
            </div>
        </div>
    </div>
</div>
{% elif seleksi.nama == 'Prestasi' or seleksi.nama == 'Prestasii' %}
<div class="modal fade bd-example-modal-sm" id="modalPemberitahuan" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h4 class="text-center">Pemberitahuan</h4>
                </div>
            </div>
            <div class="modal-body">
                <h5>Harap Cek Berkas Dan Data-Data Yang Dikirimkan Oleh Calon Siswa, Dengan Cara Menekan Tombol
                    <b>Detail</b>.</h5>
                <h5>Bila Data atau berkas yang dikirimkan tidak sesuai, Tekan Tombol <b>Tolak</b> Untuk Menolak
                    Pendaftaran.</h5>
                <h5>Jika Telah Selesai mencek seluruh berkas dan data siswa, klik tombol <b>Selesai Verifikasi</b>.</h5>
                <h5>Secara Otomatis Seluruh Calon Siswa, yang pengajuan pendaftarannya tidak ditolak akan diterima dalam
                    jalur Prestasi, <b>hingga memenuhi sisa quota</b>.</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Ya</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="modal fade bd-example-modal-sm" id="konfirmasiOtomatis" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h4 class="text-center">Peringatan</h4>
                </div>
            </div>
            <div class="modal-body" id="modalKonfirmasi">
                <h5><b>Periksa Kembali Setingan untuk Seleksi Otomatis</b>, Jika Sudah Yakin Klik Ya</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="submit" form="seleksiOtomatis" class="btn btn-primary">Ya</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" id="tolakSeleksi" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h4 class="text-center">Peringatan</h4>
                </div>
            </div>
            <div class="modal-body">
                <h3>Apakah Anda Yakin Akan Menolak Seleksi Siswa Ini ?</h3>
                <hr>
                <table>
                    <tr>
                        <th>Nis</th>
                        <td>:</td>
                        <td class="modalNis"></td>
                    </tr>
                    <tr>
                        <th>Nama Siswa</th>
                        <td>:</td>
                        <td class="modalNama"></td>
                    </tr>
                </table>
                <form method="POST" id="form_seleksi" action="{% url 'admin_page:proses_seleksi' %}">
                    {% csrf_token %}
                    <input type="hidden" class="idNis" name='nis'>
                    <input type="hidden" name="data" value="{{seleksi.nama}}">
                    <input type="hidden" name='hasilSeleksi' value='tolak'>
                    <select class="form-control" onChange='pilihAlasan(this.value)'>
                        <option disabled selected>Pilih Alasan Menolak Calon Siswa</option>
                        <option>Data Tidak Sesuai Dokumen</option>
                        <option>Foto Tidak Jelas</option>
                        <option>Dokumen Tidak Jelas</option>
                        <option value='0'>Lainnya ...</option>
                    </select>
            </div>
            <div class="modal-footer">
                <input type="text" name='alasan' class="form-control" id="alasanLainnya" style='display: none' required>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button>
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button> -->
                <input type='submit' class="btn btn-primary" value="Ya">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" id="terimaSeleksi" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h4 class="text-center">Peringatan</h4>
                </div>
            </div>
            <div class="modal-body">
                <h3>Apakah Anda Yakin Akan Menerima Seleksi Siswa Ini ?</h3>
                <hr>
                <table>
                    <tr>
                        <th>Nis</th>
                        <td>:</td>
                        <td class="modalNis"></td>
                    </tr>
                    <tr>
                        <th>Nama Siswa</th>
                        <td>:</td>
                        <td class="modalNama"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <form method="POST" action="{% url 'admin_page:proses_seleksi'%}">
                    {% csrf_token %}
                    <input type="hidden" class="idNis" name='nis'>
                    <input type="hidden" name='hasilSeleksi' value='terima'>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button>
                    <input type='submit' class="btn btn-primary" value="Ya">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

{% if first_time %}
<script>
    $('#modalPemberitahuan').modal({ backdrop: 'static', keyboard: false });
</script>
{% endif %}

<script>
    function openModalTerima(nis, nama) {
        $('#terimaSeleksi').modal('show');
        $('.idNis').val(nis);
        $('.modalNis').text(nis);
        $('.modalNama').text(nama);
    }
    function openModalTolak(nis, nama) {
        $('#tolakSeleksi').modal('show');
        $('.idNis').val(nis);
        $('.modalNis').text(nis);
        $('.modalNama').text(nama);
    }
</script>

<script>
    function pilihAlasan(val) {
        alasanText = document.getElementById('alasanLainnya')
        if (val === '0') {
            alasanText.value = ''
            alasanText.placeholder = 'Silahkan Masukan Alasan Gagalnya Verifikasi'
            alasanText.style.display = 'block'
        }
        else {
            alasanText.value = val
            alasanText.style.display = 'none'
        }
    }
</script>

<script>
    function openDetail(val) {
        var modal = document.getElementById('modalBody');
        var fotoProfile = document.getElementById('detailFoto');
        var nis = document.getElementById('detailNIS')
        var email = document.getElementById('detailEmail')
        var nama = document.getElementById('detailNama')
        var jk = document.getElementById('detailJK')
        var tanggal = document.getElementById('detailTanggal')
        var umur = document.getElementById('detailUmur')
        var alamat = document.getElementById('detailAlamat')
        var indo = document.getElementById('detailIndo')
        var ing = document.getElementById('detailIng')
        var mtk = document.getElementById('detailMtk')
        var ipa = document.getElementById('detailIpa')
        var berkas = document.getElementById('detailBerkas')
        var ijazah = document.getElementsByClassName('berkasIjazah')
        var akta = document.getElementsByClassName('berkasAkta')
        var kesehatan = document.getElementsByClassName('berkasKesehatan')
        var tambahan = document.getElementsByClassName('berkasTambahan')
        if (val) {
            $.ajax({
                type: 'GET',
                url: '{% url "api:profileAPI" 1234%}'.replace(/1234/, val),
                dataType: 'json',
                success: function (data) {
                    nis.innerHTML = data.nis
                    email.innerHTML = data.user.email
                    nama.innerHTML = data.user.first_name + ' ' + data.user.last_name
                    if (data.status === 0 || data.status === 1) {
                        berkas.parentNode.removeChild(berkas)
                    }
                    if (data.jenis_kelamin == 'L') {
                        var kelamin = 'Laki-Laki'
                    }
                    else if (data.jenis_kelamin == 'P') {
                        var kelamin = 'Perempuan'
                    }
                    if (data.status !== 0) {
                        fotoProfile.src = data.foto_diri
                        fotoProfile.style = 'height: 250px'
                        jk.innerHTML = kelamin
                        tanggal.innerHTML = data.tanggal_lahir
                        umur.innerHTML = data.umur
                        alamat.innerHTML = data.alamat
                    }
                    if (data.status !== 0 && data.status !== 1) {
                        indo.innerHTML = data.nilai_indonesia
                        ing.innerHTML = data.nilai_inggris
                        mtk.innerHTML = data.nilai_matematika
                        ipa.innerHTML = data.nilai_ipa
                        ijazah[0].setAttribute('href', data.berkas_ijazah)
                        ijazah[1].src = data.berkas_ijazah
                        akta[0].setAttribute('href', data.berkas_akta)
                        akta[1].src = data.berkas_akta
                        kesehatan[0].setAttribute('href', data.berkas_kesehatan)
                        kesehatan[1].src = data.berkas_kesehatan
                        tambahan[0].setAttribute('href', data.berkas_tambahan)
                        tambahan[1].src = data.berkas_tambahan
                    }
                }
            })
            $('#modalDetail').modal();
        }
        else {
            $('#notifikasi').modal();
        }
    }
</script>

<script>
    function seleksiOtomatis() {
        $('#modalOtomatis').modal();
    }
    function confirmOtomatis() {
        document.getElementById('otomatisSeleksi').innerHTML = 'Seleksi Otomatis'
        $('#modalOtomatis').modal('hide');
        $('#divOtomatis').removeAttr('hidden');
        $('#otomatisSeleksi').removeAttr('onclick')
    }
</script>

{% endblock %}